body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #001233 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.top-bar {
  background-color: #ff595a;
}

.max-size-img {
  min-width: 204px;      /*dims: 408 by 456px*/
  min-height: 228px;

  max-width: 408px;
  max-height: 456px;
}

#social {
  margin-left: 1rem;
}

.responsive-text {
  font-size: 2rem;      /* Initial font size */
  margin-left: 10rem;
}

@media (max-width: 990px) {
  .responsive-text {
    font-size: 1.5rem;  /* Font size for smaller screens */
    margin-left: 5rem;
  }
}

@media (max-width: 576px) {
  .responsive-text {
    font-size: 1rem;    /* Font size for even smaller screens */
    margin-left: 3.5rem;
  }
}
